<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Customer Test Suite">
    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter2"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="CustomerTest">
        <classes>
            <class name="com.pingSafe.test.Customers.CustomerE2E">
            </class>
        </classes>
    </test>
</suite>